<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- import JavaScript -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<body>
    <!-- Vue中的深度监听 -->
    <div id="app">
        <input v-model="cityName.name" />
        <input v-model="cityName.id" />
    </div>
</body>
<script>
    var watchExampleVM  = new Vue({
        el:'#app',
        data:{
            cityName: {id:1,name:'shanghai'}
        },
        watch:{
            // 监听处理函数
            'cityName.name': {
                handler(newName,oldName){
                    console.log(oldName)
                },
                deep:true,
                immediate:true
            }
        }

    })
</script>
</html>